@model SmallCartViewModel

@if (Model != null)
{
    <p>Items in cart: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
    <p>Total: <b>@Model.TotalAmount.ToString("C2")</b></p>
    <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Voir panier</a>
    <a class="btn btn-danger" asp-controller="Cart" asp-action="Clear">Vider le panier</a>
}
else
{
    <p class="custom-style">Votre panier est vide</p>

}


